/* Style sheet for the RGB definitions of the colors */

:root {
	--gray-emphasis: rgb(177, 137, 137);
	--green-bg: rgb(25, 44, 2);
	--green-emphasis: rgb(61, 83, 33);
	--green-lighter: rgb(73, 95, 52);
	--yellow-emphasis: rgb(240, 240, 119);
	--gray-bg: #fafafa;
	--red-emphasis: rgb(255, 38, 0);
	--green-hover: rgb(16, 26, 3);
}
