/* Style sheet for the footer (bottom section) */

#footer {
	position: fixed;
	left: 0px;
	right: 0px;
	bottom: 0px;
	width: 100%;
	height: 50px;
}

/* About */
#about {
	flex-grow: 1;
	margin-right: 40px;
}

#about-logo-div {
	text-align: right;
	padding-right: 17px;
}

#about-logo {
	height: 20px;
	vertical-align: bottom;
	margin-bottom: 2px;
}

/* Playback control */
.play-control {
	font-size: 22px;
}

#playback-control {
	flex-grow: 7;
	text-align: center;
}

#step-number {
	width: 30px;
	text-align: center;
}

#step-number-value {
	visibility: hidden;
}

/* Save to Text File */
#save {
	flex-grow: 1;
	margin-left: 20px;
	margin-right: 20px;
}

#save-logo {
	height: 17px;
	vertical-align: bottom;
	margin-bottom: 2px;
	margin-right: 3px;
}
