#header {
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
    width: 100%;
}

#logo {
    flex-grow: 1;
}

#site-title {
    flex-grow: 2;
    margin-left: 5px;
    font-weight: bold;
    letter-spacing: 2px;
}

.mul-methods {
    flex-grow: 5;
}

.mul-methods > div {
    text-align: left;
}

#display-mode {
    flex-grow: 15;
}

#display-mode > div {
    text-align: center;
}

.small-padding {
    flex-grow: 1;
}

#logo img {
    margin-top: 10px;
    margin-bottom: 7px;
    height: 35px;
}

#pencil-logo {
    height: 17px;
    margin-right: 2px;
    vertical-align: bottom;
    margin-bottom: 4px;
}

#booths-logo {
    height: 17px;
    vertical-align: bottom;
    margin-bottom: 4px;
    margin-right: -1px;
}

#extended-booths-logo {
    height: 20px;
    margin-right: 2px;
    vertical-align: bottom;
    margin-bottom: 2px;
}