#header {
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
    width: 100%;
}

#logo {
    flex-grow: 1;
}

#logo-home {
    text-decoration: none;
}

#site-title {
    flex-grow: 1;
    font-weight: bold;
    letter-spacing: 2px;
}

#mul-methods {
    flex-grow: 30;
}

#logo img {
    margin-top: 10px;
    margin-bottom: 7px;
    height: 50px;
}
