:root {
    --gray-emphasis: rgb(177, 137, 137);
    --green-emphasis: rgb(25, 44, 2);
}

#algo-name {
    font-size: 22px;
    font-weight: bold;
    padding-top: 10px;
    padding-left: 40px;
}

#algo-steps {
    padding-left: 40px;
    padding-bottom: 80px;
    line-height: 1.8;
}

.indented {
    margin-left: 30px;
}

.indented-2 {
    margin-left: 60px;
}

.recoding {
    border-collapse: collapse;
    margin-top: 15px;
    margin-bottom: 20px;
}

.recoding tr:nth-child(2) {
    border-bottom: 1px solid var(--green-emphasis);
}

.recoding tr:first-child {
    border-bottom: 1px solid var(--green-emphasis);
}

.recoding tr td, th {
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
}