:root {
    --gray-emphasis: rgb(177, 137, 137);
    --green-emphasis: rgb(25, 44, 2);
}

#algo-name {
    font-size: 22px;
    font-weight: bold;
    padding-top: 10px;
    padding-left: 40px;
}

#algo-steps {
    padding-left: 40px;
    padding-bottom: 80px;
    line-height: 1.8;
}

.indented {
    margin-left: 30px;
}

.indented-2 {
    margin-left: 60px;
}