:root {
    --yellow-emphasis: rgb(240, 240, 119);
    --gray-bg: rgb(214, 193, 193);
    --green-emphasis: rgb(25, 44, 2);
}

html, body {
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', Arial, sans-serif;
}

body {
    background-color: var(--gray-bg);
}

a {
    display: inline-block;
}

.colored {
    background-color: var(--green-emphasis);
    color: white;
}

.code {
    font-family: 'Courier New', Arial, sans-serif;
}

.hidden {
    visibility: hidden;
}

.selected {
    color: var(--yellow-emphasis);
}

.no-decor {
    text-decoration: none;
    cursor: pointer;
}

.flex-container {
    display: flex;
    padding-left: 40px;
    font-size: 18px;
    flex-wrap: wrap;
}

.flex-container > div {
    text-align: left;
    display: table;
}

.inner {
    height: 100%;
    display: table-cell;
    vertical-align: middle;
}