:root {
    --gray-emphasis: rgb(177, 137, 137);
    --green-emphasis: rgb(25, 44, 2);
}

#workspace {
    width: 70%;                         /* Calculated as 100% - margin-left */
    min-height: calc(100vh - 30px);
    padding: 0px;
    margin-left: 30%;                   /* Should be greater than width of #input-numbers */
    margin-right: 0px;
    margin-top: 16px;
    color: var(--green-emphasis);
}

#input-numbers {
    width: 25%;
    padding-top: 16px;
    padding-left: 40px;
    padding-right: 30px;
    position: fixed;
    left: 0px;
    top: 60px;
}

#results {
    flex: 2.5;
    padding-top: 60px;
    padding-right: 40px;
    font-size: 16px;
    overflow: scroll;
}